
<form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
	<div class="form-group">
		<label for="name" class="form-control-label">Nombre completo:
			<input type="text" name="name" class="form-control" #name="ngModel" [(ngModel)]="contacto.name" pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{2,48}" required="required"> 
			<small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">El nombre no es valido</small>
		</label>
	</div>
	<div class="form-group">
		<label for="email" class="form-control-label">Correo electronico:
			<input type="email" name="email" class="form-control" #email="ngModel" [(ngModel)]="contacto.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
			<small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block" >El correo no es valido</small>
		</label>
	</div>			
	<div class="form-group">
		<label for="telefono" class="form-control-label">telefono:
			<input type="tel" name="telefono" class="form-control" #telefono="ngModel" [(ngModel)]="contacto.telefono" required>
			<small *ngIf="!telefono.valid && telefono.touched" class="invalid-feedback d-block">Formato de telefono invalido</small>
		</label>
	</div>
	<div class="form-group">
		<label for="mensaje" class="form-control-label">Confirmacion de contraseña:
			<textarea name="mensaje" class="form-control" #mensaje="ngModel" [(ngModel)]="contacto.mensaje" ></textarea>
			<small *ngIf="!mensaje.valid && mensaje.touched" class="invalid-feedback d-block">Rellena este campo</small>
		</label>
	</div>
	<input type="submit" value="Registrar" class="btn btn-primary" [disabled]="registerForm.invalid">
</form>

<div class="container" style="background-color: purple;">
<div *ngIf="status === 'error'" class="alert alert-danger" style="background-color: red;" >
	<h3>{{status}}</h3>
</div>
<div *ngIf="status === 'success'" class="alert alert-success" style="background-color: green;">
	<h4>{{mensaje2}}</h4>
</div>

			
</div>