<div class="wrapper fadeInDown">
	<div id="formContent">
		<div class="fadeIn first">
		    <img src="" id="icon" alt="" />
		    <h3>{{page_title}}</h3>
		</div>
		<form id="formLogin" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
			<div class="form-group">
				<label for="email" class="form-control-label">Correo electronico:
					<input type="email" name="email" class="form-control" #email="ngModel" [(ngModel)]="user.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
					<small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block" >El correo no es valido</small>
				</label>
			</div>			
			<div class="form-group">
				<label for="password" class="form-control-label">Contraseña:
					<input type="password" name="password" class="form-control" #password="ngModel" [(ngModel)]="user.password" required>
					<small *ngIf="!password.valid && password.touched" class="invalid-feedback d-block">La contraseña no es valida</small>
				</label>
			</div>
			<input type="submit" value="Identificarse" class="btn btn-primary" [disabled]="loginForm.invalid">
		</form>
		  <div id="mensajes"></div>
		    <!-- Remind Passowrd -->
		<div id="formFooter">
		</div>
	</div>
</div>